$body-color-dark: #B0B0B0;
$body-bg-dark: #28253b;
$body-secondary-bg-dark: #251e35;
$headings-color-dark: #fff;
$border-color-dark: #444444;

[data-bs-theme="dark"]{	
	--bs-light: #1E1E1E;
	--bs-light-rgb: 30, 30, 30;
	
	--bs-black-rgb: 255, 255, 255;
	
	--bs-secondary: #8BC740;
	--bs-secondary-rgb: 139, 199, 64;

	.text-primary{
		color: var(--bs-white) !important;
	}
	
	.btn-link g [fill]{
		fill: $white !important;
	}

	.btn-link{
		color: #fff;
	}

	.apexcharts-title-text{
		fill: #fff !important;
	}

	.apexcharts-legend-text{
		color: #fff !important;
	}

	.nav{
		.nav-item{
			.nav-link{
				color: var(--bs-white);
			}
		}
	}

	.btn{
		&.btn-outline-primary{
			color: var(--bs-white) !important;
		}
		&.btn-primary,.btn-primary.light{
			color: var(--bs-white) !important;
			svg{
				path{
					fill: var(--bs-white);
				}
			}
		}
	}
	
	.table-light{
		--bs-table-bg: var(--bs-light);
		--bs-table-striped-bg: var(--bs-light);
		--bs-table-active-bg: var(--bs-light);
		--bs-table-hover-bg: var(--bs-light);
		--bs-table-border-color: rgb(68, 68, 68);
	}
	.btn-secondary {
		--bs-btn-color: #fff;
		--bs-btn-bg: var(--bs-secondary);
		--bs-btn-border-color: var(--bs-secondary);
		--bs-btn-hover-bg: #707070;
		--bs-btn-hover-color: #fff;
		--bs-btn-active-color: #fff;
		--bs-btn-active-border-color: #212121;
		--bs-btn-disabled-color: #fff;
		--bs-btn-disabled-bg: var(--bs-secondary);
		--bs-btn-disabled-border-color: var(--bs-secondary);
	}
	.btn-light {
		--bs-btn-color: #fff;
		--bs-btn-bg: var(--bs-light);
		--bs-btn-border-color: var(--bs-light);
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: #707070;
		--bs-btn-hover-border-color: #707070;
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #c4c4c4;
		--bs-btn-disabled-color: #fff;
		--bs-btn-disabled-bg: var(--bs-light);
		--bs-btn-disabled-border-color: var(--bs-light);
	}
	.btn-outline-light {
		--bs-btn-color: #fff;
		--bs-btn-border-color: var(--bs-light);
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: var(--bs-light);
		--bs-btn-hover-border-color: var(--bs-light);
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: var(--bs-light);
		--bs-btn-disabled-color: var(--bs-light);
		--bs-btn-disabled-border-color: var(--bs-light);
	}
	.text-bg-light{
		color: #fff !important;
	}
}