@import "../../abstracts/variable";
@import "../../abstracts/mixin";
[data-sidebar-style="full"][data-layout="vertical"] {
    .deznav{
		
		.metismenu{

			& > li{
				padding: 0 0 0 15px;
				&.has-menu{
					&:after{
						position: absolute;
						content: "";
						border-width: 1px 0 0 1px;
						border-style: solid;
						transform-origin: top;
						transition: all .3s ease-out;
						width: 0.5rem;
						height: 0.5rem;
						right: 2.5rem;
						top: 28px;
						border-color: #fff;
						-webkit-transform: rotate(-225deg) translateY(-50%);
						transform: rotate(-225deg) translateY(-50%);
					}
				}
				& > a{
					font-size: 16px;
					padding: 16px 25px;
					@include transitionMedium;
					position:relative;
					&:after,
					&:before{
						border-radius: 0;
						opacity:0;
						@include transitionMedium;
					}
					&:before{
						content: "";
						height: 30px;
						width: 38px;
						display: block;
						position: absolute;
						right: 0;
						top: -30px;
						box-shadow: 10px 10px 0 0 var(--bs-secondary-bg);
					}
					&:after{
						content: "";
						height: 30px;
						width: 38px;
						display: block;
						position: absolute;
						right: 0!important;
						top:auto;
						bottom: -30px;
						box-shadow: 10px -10px 0 0 var(--bs-secondary-bg);
						transform: rotate(0);
						border: 0;
					}
					&:marker{
						color:red;
					}
					
				}
				&.mm-active{
					&.has-menu{
						&:after{
							border-color:var(--bs-heading-color);
							-webkit-transform: rotate(-135deg) translateY(-50%);
								transform: rotate(-135deg) translateY(-50%);
						}
					}
					& > a{
						background: var(--bs-secondary-bg);
						border-radius: 3rem 0 0 3rem;
						color: var(--bs-heading-color) !important;
						i{
							color: var(--bs-primary);
						}
						
						&:before{
							border-radius: 0 0 18px 0;
							opacity:1;
						}
						&:after{
							border-radius: 0 18px 0 0;
							opacity:1;
						}
					
					}
				}
				.has-arrow:after{
					right: 2.5rem;
					@include respond('laptop') {
						right: 1.5rem;
					}
				}
			}
			
		}
		
	}
	.menu-toggle {
        .nav-header {
            width: 5rem;
            z-index: 999;
            .brand-logo {
                padding-left: 0;
                padding-right: 0;
                justify-content: center;
            }
            .nav-control {
                .hamburger {
                    .line {
                        background-color: var(--bs-primary);
                    }
                }
            }
        }
		.copyright,
		.add-menu-sidebar{
			display:none;
		}
        .header {
            padding-left: 5rem;
            width: 100%;
        }
        .deznav {
            width: 5rem;
            overflow: visible;
            position: absolute;
            .nav-text {
                display: none;
            }
            .slimScrollDiv,
            .deznav-scroll {
                overflow: visible !important;
            }
            .metismenu {
				&>li{
					&.has-menu{
						&:after{
							display:none;
						}
					}
				}
				
                li {
                    position: relative;
					
                    a {
                        padding: 0.8125rem 0.9375rem;
						
						svg{
						    max-width: 24px;
							max-height: 24px;
							margin-right: 0;
						}
						&:before{
							content:none;
						}
                    }
                    &>ul {
                        position: absolute;
						left: 5rem;
						top: 0;
						width: 12rem;
						z-index: 1001;
						display: none;
						padding-left: 1px;
						height: auto !important;
						box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
						border-radius: 6px;
						margin-left: 0;
						border:0;
						background:$white;
						&:after{
							content: "";
							position: absolute;
							background: inherit;
							width: 10px;
							height: 10px;
							transform: rotate(45deg);
							-webkit-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							-moz-transform: rotate(45deg);
							left: -5px;
							top: 20px;
						}
                        li:hover {
                            ul {
                                // display: block;
                                left: 11.8125rem;
                                top: 0;
								&:after{
									content:none;
								}
                            }
                        }
                    }
                    &:hover>ul {
                        display: block;
                        height: auto;
                        overflow: visible;
                    }
                }
                &>li {
                    transition: all 0.4s ease-in-out;
					padding: 0 13px;
					
                    &>a {
						text-align: center;
                        &.has-arrow {
                            &:after {
                                display: none;
                            }
                        }
						i{
							padding: 0;
						}
                    }
                    &.mm-active > a{
						background:var(--bs-primary);
						border-radius: var(--bs-border-radius);
						color:$white;
						
							
						i{
							color: $white!important;
							padding: 0;
						}
					}
                    &:hover{
                        &:nth-last-child(-n + 1) {
                            &>ul {
                                bottom: 0;
                                top: auto;
                            }
                        }
                        &>a {
							border-radius: var(--bs-border-radius);
							background:var(--bs-primary);
							color:$white;
							@at-root [data-theme-version="dark"]#{&} {
								background:var(--bs-primary);
							}
							i{
								color: $white;
							}
                        }
                        &>ul {
                            height: auto !important;
							padding: 10px 0;						
							
                            a {
                                padding: 6px 20px 6px 20px;
                                margin-left: -.1rem;
                            }
                            ul{
								padding: 10px 0;
								a {
									padding: 6px 20px 6px 20px;
									margin-left: -.1rem;
								}
                            }
                        }
                    }
                }
                .nav-label,
                .nav-badge {
                    display: none;
					
                }
            }
        }
        .content-body {
            margin-left: 5rem;
        }
        &+.footer {
            padding-left: 5rem;
        }
    }
[data-sidebar-style="full"][data-layout="horizontal"] {
	.deznav .metismenu{
	    padding: 0 30px;
	}
	.header .header-content{
		padding-left: 1.875rem;
	}
}
}
[data-bs-theme="dark"]{
	.deznav{
		.metismenu{
			a{
				color: #b3b3b3;
				i{
					color: var(--bs-white) !important;
				}
			}
			li:hover{
				&>a{
					color: var(--bs-white) !important;
				}
			}
			ul{
				a:hover{
					color: var(--bs-white) !important;
				}
			}
		}
	}
	.menu-toggle{
		.nav-header{
			.nav-control{
				.hamburger{
					.line{
						background-color: var(--bs-white) !important;
					}
				}
			}
		}
	}
}