:root{
	--nav-headbg: #FFFFFF;
	--sidebar-bg: #FFFFFF;
	--headerbg: #F2F2F2;
}
[data-bs-theme="dark"]{
	--nav-headbg: var(--bs-body-bg);
	--sidebar-bg: var(--bs-body-bg);
	--headerbg: var(--bs-secondary-bg);
}


@each $name, $color in $theme_backgrounds {
	
	// background for nav header
	[data-nav-headerbg="#{$name}"][data-theme-version="dark"],
    [data-nav-headerbg="#{$name}"] {
        @if $name != "color_1"  {
			--nav-headbg: #{$color};
			
			.nav-header{
				.brand-logo{
					.logo-abbr{
						.svg-logo-circle{
							fill:$white !important;
						}
						path{
							&.react-w,
							&.w3{
								fill:$white;
							}
						}
					}	
				}
				.brand-title{
					path{
						stroke: var(--bs-white);
    					fill: var(--bs-white);
					}
				}
			}
		}
	}
	
	[data-sidebarbg="color_3"][data-theme-version="dark"][data-sidebar-style="full"]{
		.deznav{
			.metismenu{
				li{
					&.mm-active{
						>a{
							i{
								color: var(--bs-white) !important;
							}
						}
					}
				}
			}
		}	
	}

	// data sidebarbg
	[data-sidebarbg="#{$name}"][data-theme-version="dark"],
    [data-sidebarbg="#{$name}"] {

        @if $name != "color_1"  {
			--sidebar-bg: #{$color};

			.menu-toggle .deznav .metismenu li > ul{
				background:$color!important;
			}
			.deznav .metismenu ul a:before{
				background:rgba($white,0.5);
			}
			.deznav{
				.metismenu{
					li{
						&.mm-active{
							>a{
								i{
									color: var(--sidebar-bg) !important;
								}
							}
						}
					}
				}
			}			
			&[data-layout="vertical"]{
				.deznav {
					.menu-title{
						color:$white;
					}
				}
			}
			&[data-sidebar-style="icon-hover"][data-layout="horizontal"],
			&[data-sidebar-style="full"][data-layout="horizontal"]{
				.header .header-content {
				    padding-left: 30px;	
				}
				// .deznav{
				// 	.metismenu li ul{
				// 		background-color: lighten($color: $color, $amount: 10%);
				// 	}
				// } 
				.deznav .metismenu > li:hover ul{
					background: lighten($color: $color, $amount: 10%) !important;
				}
				.deznav .metismenu > li.mm-active > a,
				.deznav .metismenu > li:hover > a,
				.deznav .metismenu > a{
					background: lighten($color: $color, $amount: 10%) !important;
					color: var(--bs-white) !important;
					i{
						color: var(--bs-white) !important;
					}
				}
			}
			&[data-sidebar-style="modern"][data-layout="vertical"]{
				.deznav{
					.metismenu{
						li{
							&.mm-active{
								a{
									background: lighten($color: $color, $amount: 10%) !important;
									color: var(--bs-white) !important;
									i{
										color: var(--bs-white) !important;
									}
								}
							}
							&:hover{
								ul{
									background: lighten($color: $color, $amount: 10%) !important;
								}
							}
						}
					}
				}
			}
			&[data-sidebar-style="icon-hover"][data-layout="vertical"]{
				.deznav{
					.metismenu{
						li{
							&:hover{
								>a{
									background: lighten($color: $color, $amount: 10%) !important;
								}
							}
							&.mm-active{
								>a{
									background: lighten($color: $color, $amount: 10%) !important;
								}
								ul{
									li{
										>a{
											border-radius: var(--bs-border-radius);
										}
										&.mm-active{
											a{
												border-radius: var(--bs-border-radius);
											}
										}
									}
								}
							}
						}
					}
				}
			}
			&[data-sidebar-style="overlay"][data-layout="vertical"]{
				.deznav{
					.metismenu{
						li{
							&.mm-active{
								a{
									color: var(--bs-white) !important;
								}
							}
							a{
								&:before{
									background: var(--bs-white) !important;
								}
							}
							&.mm-active{
								>a{
									i{
										color: var(--bs-white) !important;
									}
								}
							}
						}
					}
				}
			}
			&[data-sidebar-style="mini"][data-layout="horizontal"]{
				.deznav{
					.metismenu{
						li{
							ul{
								li{
									a{
										color: var(--bs-body-color) !important;
									}
								}
							}
							&.mm-active{
								ul{
									li{
										a{
											color: var(--bs-body-color) !important;
										}
									}
								}
								a{
									i{
										color: var(--bs-white) !important;
									}
								}
							}
						}
					}
				}
			}
			&[data-sidebar-style="mini"][data-layout="vertical"]{
				.deznav{
					.metismenu{
						li{
							&.mm-active{
								a{
									background: var(--bs-white);
								}
								ul{
									li{
										a{
											background: var(--bs-body-bg);
											color: var(--bs-body-color) !important;
										}
										&.mm-active{
											>a{
												background: var(--bs-body-bg);
											}
										}
										&:hover{
											>a{
												background: var(--bs-body-bg) !important;
											}
										}
									}
								}
							}
							&:hover{
								>a{
									background: var(--bs-white);
									i{
										color: var(--sidebar-bg) !important;
									}
								}
							}
							ul{
								background-color: var(--bs-body-bg) ;
								li{
									a{
										background: var(--bs-body-bg);
										color: var(--bs-body-color) !important;
										&.has-arrow:after{
											border-color: var(--bs-body-color) transparent transparent var(--bs-body-color) !important;
										}
									}
									&.mm-active{
										>a{
											background: var(--bs-body-bg);
											// color: var(--bs-body-color) !important;
										}
									}
									&:hover{
										>a{
											background: var(--bs-body-bg) !important;
											// color: var(--bs-body-color) !important;
										}
									}
								}
							}
						}
					}
				}
			}
			&[data-sidebar-style="compact"][data-layout="vertical"]{
				.deznav {
					.metismenu {
						&>li {
							a{
								&:before{
									background: var(--bs-white);
								}
								&:hover{
									color:$white;
								}
							}
							&>a{
								background: lighten($color: $color, $amount: 3%);
								&>i{
									color:rgba($white,0.7);
								}
								.menu-icon{
									background-color:lighten($color: $color, $amount: 10%);	
								}	
							}
							&.mm-active,&:hover{
								&>a {
									box-shadow:none;
									background: lighten($color: $color, $amount: 10%);;
									color:$white!important;
									i{
										background: lighten($color: $color, $amount: 10%)!important;
										color:$white!important;
									}
								}
							}
							ul{
								li{
									a{
										&.mm-active{
											background: linear-gradient(to right,  lighten($color: $color, $amount: 10%) 0%,rgba(255, 255, 255, 0) 100%) !important;
										}
									}
									&:hover{
										a{
											background: linear-gradient(to right,  lighten($color: $color, $amount: 10%) 0%,rgba(255, 255, 255, 0) 100%) !important;
										}
									}
								}
							}
						}
					}
				}
			}
			&[data-sidebar-style="modern"][data-layout="horizontal"]{
				.deznav {
					.metismenu {
						&>li {
							ul{
								background: lighten($color: $color, $amount: 10%);
								li{
									&:hover{
										a{
											background: lighten($color: $color, $amount: 10%);
										}
									}
								}
							}
							&.mm-active{
								a{
									background: lighten($color: $color, $amount: 10%) !important;
									color: var(--bs-white) !important;
									i{
										color: var(--bs-white) !important;
									}
								}
							}
						}
					}
				}
			}
			&[data-sidebar-style="compact"][data-layout="horizontal"]{
				.deznav {
					.metismenu {
						&>li {
							ul{
								background: lighten($color: $color, $amount: 10%);
								li{
									&:hover{
										a{
											background: lighten($color: $color, $amount: 10%);
										}
									}
								}
							}
							&.mm-active{
								a{
									background: lighten($color: $color, $amount: 10%) !important;
									color: var(--bs-white) !important;
									i{
										color: var(--bs-white) !important;
									}
								}
							}
						}
					}
				}
				
			}
			.deznav {
				.metismenu{
					a{
						color:rgba($white,0.8)!important;
					}
					li{
						ul{
							a{
								&:hover,
								&:focus,
								&.mm-active {
									color:$white;
								}
							}
						}
					}
					&>li{
						&>a.mm-active{
							color: var(--bs-heading-color) !important;
							i{
								color: var(--sidebar-bg) !important;
							}
							
						}
					}				
				}
				.sidebar-info{
					color: $white; 
					i{
						color: $white; 		
					}
				}
				
			}
		}
	}

	
	// data headerbg
	[data-headerbg="#{$name}"][data-theme-version="dark"],
    [data-headerbg="#{$name}"] {
        @if $name != "color_1"  {
			--headerbg: #{$color};
			
			.hamburger {
				.line {
					background: $white !important;
				}
			}

			.header-right{
				.search-area{
					.form-control{
						color: var(--bs-white);
					}
				}
				.notification_dropdown .nav-link{
					&.show{
						background-color:#202020;
					}
					
				}
				.nav-item{
					&.ps-3{
						&:hover{
							background:transparent;
						}
					}
					&.header-profile{
						.header-info{
							span{
								color:$white !important;
							}
							p{
								color:rgba($white,0.7);
							}
						}
					}
					.nav-link{
						color: var(--bs-white);
						background: lighten($color: $color, $amount: 10%) !important;
						border: 0;
						&.dz-fullscreen{
							svg{
								path{
									fill: transparent;
								}
							}
						}
						svg{
							path{
								fill: $white;
							}
							stroke: $white;
						}
					}
				}
				.pulse-css{
					background-color:$white;
					border-color: $color;
					&:after,
					&:before{
						background-color:inherit;
					}
				}
				.search-area .input-group-append .input-group-text,
				.search-area .form-control{
					i{
						color: #FFF;
					}
					&::placeholder{
						color: var(--bs-white);
					}
					background-color: lighten($color: $color, $amount: 10%) !important;
					svg path{
						fill:$white;
					}
				}
				.header-border{
					.btn{
						background-color:lighten($color: $color, $amount: 10%);
						border-color:lighten($color: $color, $amount: 10%);
					}
					&:hover{
						background:transparent;
					}
				}
				.header-profile{
					&>a.profile-link {
						background: transparent !important;
						i {
							font-weight: 700;
						}
					}
					 p{
						color: #E1E1E1;
					 }
					 h6{
						color:$white;
					 }
				}
			}
			.header-left{
				.dashboard_bar{
					color:$white;
				}
			}
		}
	}
	
	// data-primary
	[data-primary="#{$name}"][data-nav-headerbg="#{$name}"][data-theme-version="light"],
	[data-nav-headerbg="#{$name}"] {
		@if $name == "color_1"  {
			
			&[data-layout="horizontal"]{
				.header .header-content{
					padding-left: 2.4rem;
				}
			}			
		}
	}
	
}